# Tuples
1. tuple is another sequence data type that is similar to the list. 
2. A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.
3. Main difference between them is that <b>Tuples are read-only</b>

## Defining tuples

In [28]:
# Int tuples
t1 = (1,2,3)
print("\n Int tuple: ", t1)

tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2  )
print("\n Mixed Data Type tuple: ", tuple1)

tuple1 = ( 'abcd', 786 , 2.23, (1,3,"Name"))
print("\n Nested Tuple: ", tuple1)

# Define one elemnt tuple : CAUTION WITH ONLY ONE ITEM, YOU NEED COMMA, else WRONG DATA TYPE ASSUMED BY Python
tuple3 = (1) 
print("Just Int =>", tuple3)
tuple3 = (1, )
print("Int Tuple =>", tuple3)
# OR
tuple3 = "123",
print(tuple3)

 Int tuple:  (1, 2, 3)

 Mixed Data Type tuple:  ('abcd', 786, 2.23, 'john', 70.2)

 Nested Tuple:  ('abcd', 786, 2.23, (1, 3, 'Name'))
Just Int => 1
Int Tuple => (1,)
('123',)

## Tuple Indexing and Slicing

In [19]:
tuple1 = ('abcd', 786 , 2.23, [1,3,"Name"])
tinytuple = (123, 'john')

print (tuple1)           # Prints complete list
print ("Index 0 => ", tuple1[0])        # Prints first element of the list
print ("Slice 1 & 2 => ", tuple1[1:3])      # Prints elements starting from index 1 to 2 (excluding 3)
print ("Slice from index 2 till end ", tuple1[2:])       # Prints elements starting from 3rd element

# Negative indexing
print ("Last item in tuple => ", tuple1[-1])       
print ("Slice from start to -2 => ", tuple1[:-2]) 

#Slicing with steps
print ("Slice alterbative ones => ", tuple1[::2]) 
print ("Slice alterbative ones, starting from second => ", tuple1[1::2])
print ("Negative Slice (reverse) with alterbative ones => ", tuple1[::-2]) 

print ("Print Twice => ",tinytuple * 2)   # Prints list two times
print ("Append Tuples => ",tuple1 + tinytuple) # Prints concatenated new tuple

('abcd', 786, 2.23, [1, 3, 'Name'])
Index 0 =>  abcd
Slice 1 & 2 =>  (786, 2.23)
Slice from index 2 till end  (2.23, [1, 3, 'Name'])
Last item in tuple =>  [1, 3, 'Name']
Slice from start to -2 =>  ('abcd', 786)
Slice alterbative ones =>  ('abcd', 2.23)
Slice alterbative ones, starting from second =>  (786, [1, 3, 'Name'])
Negative Slice (reverse) with alterbative ones =>  ([1, 3, 'Name'], 786)
Print Twice =>  (123, 'john', 123, 'john')
Append Tuples =>  ('abcd', 786, 2.23, [1, 3, 'Name'], 123, 'john')
('abcd', 786, 2.23, [1000, 3, 'Name'])

## Editing Tuple Contents

In [21]:
# Cant edit regulat tuple members
tuple1 = ('abcd', 786 , 2.23, [1,3,"Name"])
# tuple1[0] = "ad"   ## Error : 'tuple' object does not support item assignment

# But can edit list members of a Tuple
tuple1[3][0] = 1000    # Tuple can't be updated. Error : Invalid syntax with tuple#
print(tuple1)

('abcd', 786, 2.23, [1000, 3, 'Name'])

## Tuple : Type Checking

In [23]:
tuple1 = ("123", 456)
print("\n Tuple : Type Checking: ", type(tuple1))
tuple1 = ("123")
print("\n CAUTION : One Element Tuple Type Checking: Wrong Type Assumed : ", type(tuple1))

tuple1 = ("123",)
print("\n FIX FOR ONE ELEMENT TUPLE TYPE CHECKING : One Element Tuple Type Checking: Correct Syntax with a comma", type(tuple1))
tuple1 = "123",
print("\n SIMPLE TUPLE : One Element Tuple Type Checking: Correct Syntax with comma, no brackets", type(tuple1))

 Tuple : Type Checking:  <class 'tuple'>

 CAUTION : One Element Tuple Type Checking: Wrong Type Assumed :  <class 'str'>

 FIX FOR ONE ELEMENT TUPLE TYPE CHECKING : One Element Tuple Type Checking: Correct Syntax with a comma <class 'tuple'>

 SIMPLE TUPLE : One Element Tuple Type Checking: Correct Syntax with comma, no brackets <class 'tuple'>

## Tuple Functions

In [31]:
tuple1 = (1,2,3,1,5)
print("\n Tuple Count() : Counts the number of occurances of ane element :", tuple1.count(1))  

print("\n Tuple Index() : Returns the Index of the first occurace of element :", tuple1.index(1)) 

print("\n Tuple Membership : See whethe element is present or not :", 1 in tuple1, 10 not in tuple1) 

print("\n Tuple length : How many elements are present:", len(tuple1)) 

#NOTE : There is ni in-place sort for Tuple
#tuple1.sort(reverse=true)
#print("\n Sort Tuple Implace : Creates a new tuple with sorted elements:", sorted(tuple1)) 

print("\n Sort Tuple : Creates a new tuple with sorted elements:", sorted(tuple1)) 

print("\n Group operations - Tuple : Max, Min, Sum:", max(tuple1), min(tuple1), sum(tuple1))

 Tuple Count() : Counts the number of occurances of ane element : 2

 Tuple Index() : Returns the Index of the first occurace of element : 0

 Tuple Membership : See whethe element is present or not : True True

 Tuple length : How many elements are present: 5

 Sort Tuple : Creates a new tuple with sorted elements: [1, 1, 2, 3, 5]

 Group operations - Tuple : Max, Min, Sum: 5 1 12

## Delte Tuple
1. Can delete only entire tuple, can't delete items of tuple

In [ ]:
tuple1 = ("123", [4,5,6])
del tuple1